<header class="container-fluid">
    <div class="header-container row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4"><h1><a href="/" title="Ron Matusalen | Es de Verdad"><img src="/assets/logo-matusalen.png"></a></h1></div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4"><h2 class="hashtag">#ESDEVERDAD</h2></div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 social-icons">
            <a class="icon-46-facebook" href="https://www.facebook.com/matusalemmx" title="Facebook" target="_blank"></a>
            <a class="icon-twitter" href="https://twitter.com/MatusalemMx" title="Twitter" target="_blank"></a>
            <a class="icon-78-instagram" href="https://instagram.com/matusalemmx/" title="Instagram" target="_blank"></a>
        </div>
    </div>
</header>

<ui-view></ui-view>

<footer class="container-fluid">
    <div class="footer-container row">
        <div class="col-sm-4 col-md-4 col-lg-4">CONOCER ES NO EXCEDERSE</div>
        <div class="col-sm-4 col-md-4 col-lg-4"><a href="http://WWW.ALCOHOLINFORMATE.ORG.MX" title="Alcohol Infórmate" target="_blank">WWW.ALCOHOLINFORMATE.ORG.MX</a></div>
        <div class="col-sm-4 col-md-4 col-lg-4"><a ui-sref="terms">TÉRMINOS Y CONDICIONES</a></div>
    </div>
</footer>