<header>
    <div class="header-container row">
        <div class="small-6 large-4 columns"><h1><img src="/assets/logo-matusalen.png"></h1></div>
        <div class="small-6 large-4 columns"><h2 class="hashtag">#ESDEVERDAD</h2></div>
        <div class="small-6 large-4 columns social-icons">
            <span class="icon-46-facebook"></span>
            <span class="icon-twitter"></span>
            <span class="icon-78-instagram"></span>
        </div>
    </div>
</header>

<ui-view></ui-view>

<footer>
    <div class="footer-container row">
        <div class="small-6 large-6 columns">CONOCER ES NO EXCEDERSE</div>
        <div class="small-6 large-6 columns">WWW.ALCOHOLINFORMATE.ORG.MX</div>
    </div>
</footer>