<header class="container-fluid">
    <div class="header-container row">
        <div class="col-sm-6 col-md-4 col-lg-4"><h1><img src="/assets/logo-matusalen.png"></h1></div>
        <div class="col-sm-6 col-md-4 col-lg-4"><h2 class="hashtag">#ESDEVERDAD</h2></div>
        <div class="col-sm-6 col-md-4 col-lg-4 social-icons">
            <span class="icon-46-facebook"></span>
            <span class="icon-twitter"></span>
            <span class="icon-78-instagram"></span>
        </div>
    </div>
</header>

<ui-view></ui-view>

<footer class="container-fluid">
    <div class="footer-container row">
        <div class="col-sm-6 col-md-6 col-lg-6">CONOCER ES NO EXCEDERSE</div>
        <div class="col-sm-6 col-md-6 col-lg-6">WWW.ALCOHOLINFORMATE.ORG.MX</div>
    </div>
</footer>