<ng-include src="'/assets/_navigation.html'"></ng-include>
<div class="section-container row">
    <div class="small-12 large-12 moments columns">
        <div class="moment">
            <h3 class="moment-place">En: La cervecería del barrio</h3>
            <div class="moment-desc">
                <div class="moment-desc-text">
                    <textarea>
                        My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
                    </textarea>
                </div>
                <div class="moment-desc-image">
                    <img src="/assets/background-desktop.jpg" alt="Desc imagen">
                </div>
            </div>
            <div class="moment-actions">
                <div class="moment-action-vote">
                    ¿Es verdad? 0 <span class="icon icon-upvote-like-icon-tm"></span> 0 <span class="icon icon-upvote-dislike-icon-tm"></span>
                </div>
                <div class="moment-action-share">
                    <span class="icon icon-share"></span>
                </div>
            </div>
        </div>
    </div>
</div>