<div class="container-fluid moment-container" ng-controller="MomentDetailController as momentDetailCtrl">
    <span us-spinner="{fullOverlay: true, position: 'fixed'}" spinner-key="global-spinner"></span>
    <ng-include src="'/assets/_navigation_detail.html'"></ng-include>
    <div class="section-container row">
        <div class="col-sm-12 col-md-12 col-lg-12 moments">
            <div class="moment" ng-if="moment">
                <h3 class="moment-author">{{ moment.author_name }}</h3>
                <h3 class="moment-place">En: {{ moment.place.name }}</h3>
                <div class="moment-desc">
                    <div class="moment-desc-text">
                        <textarea ng-bind="moment.description"></textarea>
                    </div>
                    <div class="moment-desc-image">
                        <img ng-src="{{ moment.picture }}" alt="moment.author_name">
                    </div>
                </div>
                <div class="moment-actions">
                    <div class="moment-action-vote">
                        <span>¿Es verdad?</span>
                        <span class="like-score" ng-bind="moment.vote_plus"></span> <span class="icon icon-like" ng-class="{ voted:!canVote(moment) }" ng-click="like(moment)"></span>
                        <span class="dislike-score" ng-bind="moment.vote_minus"></span> <span class="icon icon-dislike" ng-class="{ voted:!canVote(moment) }" ng-click="dislike(moment)"></span>
                    </div>
                    <div class="moment-action-share">
                        <span>Compartir</span>
                        <span class="icon icon-46-facebook share"></span>
                        <span class="icon icon-twitter share"></span>
                    </div>
                </div>
            </div>
            <div class="moment" ng-if="momentNotFound">
                <div class="message">
                    <p>El momento de verdad que estás buscando no existe.</p>
                </div>
            </div>
            <div class="moment" ng-show="!moment && !momentNotFound">
                <span us-spinner="{color: '#FFF'}" spinner-key="load-moment-spinner"></span>
            </div>
        </div>
    </div>
</div>