<div class="container-fluid moment-container" ng-controller="MomentController as momentCtrl">
    <ng-include src="'/assets/_navigation.html'"></ng-include>
    <div class="section-container row">
        <div class="col-sm-12 col-md-12 col-lg-12 moments">
            <div class="moment" ng-repeat="moment in moments">
                <h3 class="moment-author">{{ moment.author_name }}</h3>
                <h3 class="moment-place">En: {{ currentPlace.name }}</h3>
                <div class="moment-desc">
                    <div class="moment-desc-text">
                        <textarea ng-bind="moment.description"></textarea>
                    </div>
                    <div class="moment-desc-image">
                        <img ng-src="{{ moment.picture }}" alt="moment.author_name">
                    </div>
                </div>
                <div class="moment-actions">
                    <div class="moment-action-vote">
                        <span>¿Es verdad?</span> <span class="like-score">0</span> <span class="icon icon-upvote-like-icon-tm"></span> <span class="dislike-score">0</span> <span class="icon icon-upvote-dislike-icon-tm"></span>
                    </div>
                    <div class="moment-action-share">
                        <span>Compartir</span>
                        <span class="icon icon-share"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>