<div class="container-fluid moment-container" ng-controller="MomentController as momentCtrl">
    <ng-include src="'/assets/_navigation.html'"></ng-include>
    <div class="section-container row">
        <div class="col-sm-12 col-md-12 col-lg-12 moments">
            <div class="moment" ng-repeat="moment in moments" ng-if="!isMomentsEmpty() && !loadingMoments">
                <h3 class="moment-author">{{ moment.author_name }}</h3>
                <h3 class="moment-place">En: {{ currentPlace.name }}</h3>
                <div class="moment-desc">
                    <div class="moment-desc-text">
                        <textarea ng-bind="moment.description" readonly></textarea>
                    </div>
                    <div class="moment-desc-image">
                        <img ng-src="{{ moment.picture }}" alt="moment.author_name">
                    </div>
                </div>
                <div class="moment-actions">
                    <div class="moment-action-vote">
                        <span>¿Es verdad?</span>
                        <span class="like-score" ng-bind="moment.vote_plus"></span> <span class="icon icon-like" ng-class="{ voted:!canVote(moment) }" ng-click="like(moment)"></span>
                        <span class="dislike-score" ng-bind="moment.vote_minus"></span> <span class="icon icon-dislike" ng-class="{ voted:!canVote(moment) }" ng-click="dislike(moment)"></span>
                    </div>
                    <div class="moment-action-share">
                        <span>Compartir</span>
                        <a class="icon icon-46-facebook share" ng-click="shareFB(moment)"></a>
                        <a class="icon icon-twitter share" ng-href="{{ 'https://twitter.com/intent/tweet?text=Momento de verdad en: ' + currentPlace.name + '&hashtags=EsDeVerdad&url=' + baseURL + '/stories/' + moment.id + '/detail'  }}"></a>
                    </div>
                </div>
            </div>
            <div class="moment" ng-if="isMomentsEmpty() && !loadingMoments">
                <div class="message">
                    <p>Se el primero en compartir tu momento en este lugar.</p>
                    <a ui-sref="share" class="action-button brown-button small-size">Comparte tu momento</a>
                </div>
            </div>
            <div class="moment" ng-if="loadingMoments">
                <span us-spinner="{color: '#FFF'}" spinner-key="load-moments-spinner"></span>
            </div>
        </div>
    </div>
</div>