<div class="container-fluid share-moment-container" ng-controller="ShareController as shareCtrl">
    <ng-include src="'/assets/_navigation_share.html'"></ng-include>
    <div class="section-container row">
        <div class="col-sm-12 col-md-12 col-lg-12 share-moments">
            <div class="moment">
                <span us-spinner spinner-key="save-moment-spinner"></span>
                <div class="moment-desc">
                    <form novalidate name="momentForm" class="form moment-desc-text" ng-submit="saveMoment()">
                        <label for="name">¿Dónde? *</label>
                        <div class="where-dropdown">
                            <button type="button" class="btn btn-sm dropdown" data-animation="am-flip-x" bs-dropdown="placesShareDropdown" aria-haspopup="true" aria-expanded="false">
                                <span ng-if="!newMoment.place">Dónde está sucediendo un momento de verdad</span>
                                <span ng-if="newMoment.place">{{ newMoment.place.name }}</span>
                            </button>
                        </div>

                        <div class="moment-desc-image visible-xs" ng-click="openMomentPictureSelector()" >
                            <div class="picture-container">
                                <div class="default-picture">
                                    <span class="icon-camera"></span>
                                </div>
                                <div class="picture">
                                    <img src="">
                                </div>
                            </div>
                        </div>

                        <label for="name">Nombre: *</label>
                        <input id="name" type="text" placeholder="Nombre" name="name" ng-model="newMoment.name" required>

                        <label for="email">Correo electrónico: *</label>
                        <input id="email" type="email" placeholder="Email" name="name" ng-model="newMoment.email" required>

                        <label for="description">Cuentanos tu momento: *</label>
                        <textarea id="description" placeholder="¿Qué nos vas a contar?" ng-model="newMoment.description"></textarea>
                        <div ng-show="momentForm.$submitted && !momentForm.$valid">
                            <span>* Todos los campos son requeridos.</span>
                        </div>
                        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    </form>

                    <input type='file' accept="image/*" id="image-selector" onchange="angular.element(this).scope().selectMomentPicture(this)" name="picture" enctype="multipart/form-data" runat="server" style="display: none"/>
                    <div class="moment-desc-image hidden-xs" ng-click="openMomentPictureSelector()" >
                        <div class="picture-container">
                            <div class="default-picture">
                                <span class="icon-camera"></span>
                            </div>
                            <div class="picture">
                                <img src="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moment-actions">
                    <a ui-sref="share" class="action-button brown-button small-size" ng-click="saveMoment()">Comparte tu momento</a>
                </div>
            </div>
        </div>
    </div>
</div>