<div class="container-fluid share-moment-container" ng-controller="ShareController as shareCtrl">
    <ng-include src="'/assets/_navigation_share.html'"></ng-include>
    <div class="section-container row">
        <div class="col-sm-12 col-md-12 col-lg-12 share-moments">
            <div class="moment">
                <div class="moment-desc">
                    <form novalidate name="momentForm" class="form moment-desc-text" ng-submit="saveMoment()">
                        <input type="text" placeholder="Nombre" name="name" ng-model="newMoment.name" required>
                        <input type="email" placeholder="Email" name="name" ng-model="newMoment.email" required>
                        <textarea placeholder="¿Qué nos vas a contar?" ng-model="newMoment.description"></textarea>
                        <div class="where-dropdown">
                            <button type="button" class="btn btn-sm dropdown" data-animation="am-flip-x" bs-dropdown="placesDropdown" aria-haspopup="true" aria-expanded="false">
                                <span ng-if="!newMoment.place">Dónde está sucediendo un momento de verdad</span>
                                <span ng-if="newMoment.place">{{ newMoment.place.name }}</span>
                            </button>
                        </div>
                        <div ng-show="momentForm.$submitted && !momentForm.$valid">
                            <span>* Todos los campos son requeridos.</span>
                        </div>
                        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    </form>

                    <div class="moment-desc-image" ng-click="openMomentPictureSelector($event)">
                        <input type='file' accept="image/*" onchange="angular.element(this).scope().selectMomentPicture(this)" name="picture" enctype="multipart/form-data" runat="server" style="display: none"/>
                        <div class="picture-container">
                            <div class="default-picture">
                                CAMARITA
                            </div>
                            <div class="picture">
                                <img src="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moment-actions">
                    <div class="moment-action-save" ng-click="saveMoment()">
                        <span>Guardar</span>
                        <span class="icon icon-share"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>