<div class="container-fluid terms-container">
    <div class="section-container row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="terms">
                <h1>Términos y condiciones</h1>
                <h2>Descripción de la dinámica</h2>
                <p>Ron Matusalem te invita a compartir tus “Momentos de Verdad”. Para participar, sólo tienes que entrar a la aplicación, seleccionar el centro de consumo en el que te encuentras y compartir una foto con una descripción de por qué tu momento es de verdad. De igual forma, podrás calificar como verdaderos o falsos los Momentos de Verdad que ya han sido compartidos por los usuarios.  Podrás ganar diferentes premios.</p>
                <h2>Mecánica</h2>
                <div>
                    <ul>
                        <li>Los ganadores serán aquellos que sean mejor calificados dentro del sitio de acuerdo a su momento de verdad.</li>
                        <li>Los momentos de verdad podrán ser compartidos en Facebook, y Twitter.</li>
                        <li>Habrá ganadores semanalmente.</li>
                    </ul>
                </div>
                <h2>Condiciones</h2>
                <div>
                    <ul>
                        <li>Participan habitantes de la Ciudad de México y del Área Metropolitana que sean mayores de 18 años.</li>
                        <li>Los premios no son transferibles, reembolsables o canjeables.</li>
                        <li>Los ganadores serán notificados por correo electrónico.</li>
                        <li>La vigencia de la dinámica será á a partir del mes de octubre del 2015 hasta noviembre del 2015.</li>
                        <li>Al compartir tu contenido en “EsDeVerdad.mx” cedes derechos a Ron Matusalem de hacer uso de éste en sus redes sociales sin ninguna clase de incentivo o intercambio de cualquier tipo.</li>
                        <li>Ron Matusalem se reserva el derecho, a su sola discreción, de descalificar a cualquier participante cuyo contenido sea considerado inapropiado y ofensivo en contra de la dinámica “Momentos de Verdad”, en contra de los demás participantes o en contra de los lineamientos que dicta COFEPRIS.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>