footer
  background: black
  bottom: 0
  font-size: 0.8rem
  position: fixed
  width: 100%

  .footer-container
    color: $color_brown_1
    font-weight: lighter
    padding: 0.5rem
    text-align: center

