header
  margin-bottom: 40px

  .header-container
    padding: 3rem 0 0

    h1
      margin: 0 auto

      img
        max-width: 200px
        width: 100%

    .hashtag
      color: $color_red_2
      font-size: 2.5rem
      letter-spacing: -1px
      text-align: center
      padding: 0.8rem

    .social-icons
      color: $color_brown_1
      font-size: 1.5rem
      padding: 2rem 0
      text-align: right
