header
  max-width: $width-max
  margin-bottom: 16px

  @include breakpoint(tablet)
    margin-bottom: 48px

  .header-container
    padding: 3rem 0 0

    h1
      margin: 0 auto

      img
        max-width: 200px
        width: 100%

    .hashtag
      color: $color_red_2
      font-size: 26px
      font-weight: normal
      letter-spacing: -1px
      text-align: right

      @include breakpoint(tablet)
        font-size: 46px
        text-align: center

    .social-icons
      color: $color_brown_1
      font-size: 32px
      padding-top: 0px
      text-align: right

      @include breakpoint(tablet)
        font-size: 28px
        padding-top: 32px
