// Import styles
@import "common/mixins"
@import "common/variables"

//Import typography
@import "common/typography"
@import "common/icomoon"

// Import layout sytles
@import "layout/header"
@import "layout/footer"

// Import external libraries
@import "bootstrap"

// Import modules styles
@import "modules/navigation"
@import "modules/moment"
@import "modules/share"


body
  background: $color_red_1 !important
  font-family: "Gotham" !important
  margin: 0
  padding: 0 0 66px
  position: relative
  user-select: none
  z-index: 1

  &:before
    background: transparent url('/assets/background-desktop.jpg') no-repeat top left fixed
    background-size: cover
    content: ''
    height: 100vh
    left: 0
    opacity: 0.1
    position: fixed
    top: 0
    width: 100vw
    z-index: -1

h1, h2, h3, h4, h5, h6
  font-family: "Gotham" !important

textarea
  resize: none

.action-button
  display: inline-block
  font-weight: normal
  text-transform: uppercase

  &:hover
    text-decoration: none

  &.brown-button
    background-color: $color_brown_1
    border: 1px solid $color_brown_1
    color: $color_red_1

    &:hover
      background-color: $color_red_1
      border: 1px solid $color_brown_1
      color: $color_brown_1

  &.small-size
    font-size: 14px
    padding: 8px 14px

.container
  margin: 48px 0

.dropdown
  background: $color-red_1
  border: none
  color: $color-brown_1
  padding: 10px 0 10px 10px
  width: 100%

  &:hover, &:focus, &:active
    background-color: $color_brown_1
    color: $color_red_1

  &.button
    &:after
      border-color: $color_brown_1 transparent transparent transparent
      right: 10px

.dropdown-menu
  background-color: $color_brown_1
  color: $color_red_1
  min-width: 300px
  text-transform: uppercase

  li
    a
      &:hover
        background: $color_brown_3

.main-section
  padding: 1rem 0rem

.message
  color: white
  font-size: 16px
  text-align: center
  text-transform: uppercase

  p
    margin: 16px 0

.section-container
  margin: 48px auto