<div class="tools-section row">
    <div class="col-sm-12 col-md-6 col-lg-6 place">
        <img class="where-label" src="/assets/donde.png" alt="¿Dónde?">
        <div class="where-dropdown">
            <button type="button" class="btn btn-sm dropdown" data-animation="am-flip-x" bs-dropdown="placesDropdown" aria-haspopup="true" aria-expanded="false">
                <span ng-if="!currentPlace">Dónde está sucediendo un momento de verdad</span>
                <span ng-if="currentPlace">{{ currentPlace.name }}</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <nav class="navigation">
            <ul>
                <li><a ui-sref="share" class="action-button brown-button small-size">Comparte tu momento</a></li>
            </ul>
        </nav>
    </div>
</div>