<!DOCTYPE html>
<html ng-app="momentos">
<head>
  <title>Iuvare</title>
  <meta name="viewport" content="width=device-width">
  <base href="/">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<bod ng-controller="RootController as rootCtrl">

<%= yield %>

</bod>
</html>
